.titulo{
    position:fixed;
    background-color: #4A235A;
    width: 100%;
    top:0;
    left:0;
}
.titulo1{
    width: 500px;
	padding: 0px 3px;
	float: left;
	position: relative;
	top: 7%;
	left: 5%;
	color: #fff;
	font-size: 30px;
}
.titulo2{
    width: 500px;
	padding: 0px 3px;
	float: right;
	position: relative;
	top: 7%;
	left: 25%;
	color: #fff;
	font-size: 30px;
}
.titulo21{
    text-decoration: none;
	color: white;
}
table{
	position:absolute;
	top:10em;
	left:9%;
	right:9%;
	border-style: double;
	background-color: #E1BEE7;
	border-color: #CE93D8;
	border-width: 1em;
}
td{
	font-size: 50px;
	width: 500px;
	height: 100px;
}
.td{
	text-align: right;
}